// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.users {
  // Add the users class to your body tag
  // Then, place scoped styles here.
}